<%- include('partials/header.ejs') %>
<body>
  
<%- include('partials/nav.ejs') %>

<main>
  <br>
  <article class="POST card rounded shadow-sm">
    <form action="/themeHandler" class="COLOR-PICKER p-2 <%# card-body d-grid gap-3 %>" method="POST">

      <div class="row g-3 m-0">

        <% locals.colorPicker.forEach(color => { %>

        <div class="col-sm-6">
          <label for="<%= color.label %>ColorPicker" class="form-label"><%= color.label %> Color:</label>
          <div class="input-group p-0">
            <input type="color" class="form-control form-control-color flex-grow-0 w-25 rounded-start-pill" id="<%= color.label %>ColorPicker" value="<%= color.currentColorHex %>" title="Choose your color">
            <input type="text" class="form-control rounded-end-pill" id="<%= color.label %>ColorHex" placeholder="<%= color.currentColorHex %>" aria-label="<%= color.label %> color hex code input" aria-describedby="<%= color.label %>ColorPicker">
          </div>
        </div>

        <% }) %>

        <div class="col-12">
          <button class="btn btn-outline-light rounded-pill w-100" type="submit">Save Theme</button>
        </div>

      </div>
      
    </form>
  </article>

  <article class="POST card rounded shadow-sm">
    <form action="/createPost" class="card-body" method="post">
      <input type="file" class="form-control" name="postCoverImage" id="postCoverImage" accept=".jpg,.jpeg,.png,.apng,.gif,.webp,.svg">
      <input type="text" class="form-control" name="postTitle" id="postTitle">
      <input type="text" class="form-control" name="postBody" id="postBody">
      <input type="text" class="form-control" name="postTags" id="postTags">
      

    </form>
  </article>

  <article class="POST rounded shadow-sm d-grid"> <!-- d-flex justify-content-between align-items-center -->
    <div class="row row-cols-2">

      <form action="/profile" class="PROFILE-BACK col">
        <button class=" BTN-RESET w-100 h-100 d-flex justify-content-start py-2" type="submit">
          <div class="mb-0 ms-3">
            <i class="fa-solid fa-chevron-left"></i> Back
          </div>
        </button>
      </form>

      <form action="/" class="PROFILE-POST col">
        <button class=" BTN-RESET w-100 h-100 d-flex justify-content-end py-2" type="submit">
          <div class="mb-0 me-3">
            Post <i class="fa-solid fa-caret-right fa-xl"></i>
          </div>
        </button>
      </form>

    </div>
    
    
  </article>

</main>

<%- include('partials/footer.ejs') %>